.comments {
    text-align: center;
    padding-bottom: 100px;
}

.section-topline {
    text-align: center;
}

.section-topline__text {
    padding: 40px 0;
    font-size: em(19px);
    color: #494f53;
    line-height: 22px;
}
