.top-menu {
    background-color: #505357;
    margin-bottom: 12px;
}

.glyphicon_custom {
    font-size: 20px;
    margin-right: 7px;
    top: 3px;
}

.email {
    font-size: em(11px);
    line-height: 30px;
}

.email__adress,
.email__adress:hover {
    color: #a8a8a9;
}

.social,
.lang-switcher {
    float: right;
}

.social__list {
    font-size: 0;
    padding: 0;
    @extend .ul_style
}

.social__item {
    display: inline-block;
    border-left: 1px solid #878889;
    &:hover {
        background-color: #36393c;
    }
    &:last-child {
        border-right: 1px solid #878889;
    }
}

.social__link {
    display: block;
    width: 40px;
    font-size: $base-font-size;
    line-height: 30px;
    text-align: center;
    color: #878889;
    &:hover {
        color: #878889;
    }
}

// .top-menu  {
//      &::after {
//         @extend .after;
//         height: 30px;
//         border-bottom: 30px solid #fff;
//         border-left: 21px solid transparent;
//         height: 30px;
//         width: 17%;
//      }
// }

.lang-switcher__link {
    display: block;
    padding-left: 40px;
    padding-right: 70px;
    font-size: em(11px);
    line-height: 30px;
    text-transform: lowercase;
    color: #a8a8a9;
    &:hover {
        color: #a8a8a9;
        background-color: #36393c;
    }
}

// Action-menu styles
.action-menu {
    min-height: 80px;
}

.logo {
    margin-bottom: 5px;
}

.advantages__position {
    font-family: $font-italic;
    font-size: $base-font-size;
    line-height: 14px;
    color: #264259;
    margin-right: 22px;
}

.advantages__years {
    font-family: $font-medium;
    font-size: em(12px);
    line-height: 28px;
    color: #fead2d;
}

.phones {
    float: right;
    font-family: $font-medium;
    vertical-align: middle;
}

.phones__list {
    // font-size: 0;
    padding: 0;
    @extend .ul_style
}

.phones__item {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #ddd;
    &:hover {
        // background-color: #36393c;
    }
    &:last-child {
        border-right: none;
    }
}

.phone__number {
    color: #45484a;
    font-size: $base-font-size;
    line-height: 26px;
    white-space: nowrap
    &:hover {
        color: #45484a;
    }
}

.phone__order {
    color: #45484a;
    font-size: em(11px);
    line-height: 12px;
    &:hover {
        color: #45484a;
    }
}

.fa-mobile_custom {
    margin-right: 5px;
    font-size: em(28px);
}

.navigation {
    font-family: $font-medium;
    font-size: em(13px);
    float: right;
    background-color: #fdc84e;
}

.navigation__list {
    @extend .ul_style;
}

.navigation__item {
    display: inline-block;
    padding: 0 15px;
    line-height: 48px;
}

.navigation__link {
    text-transform: uppercase;
    color: #a95307;
    transition: all .5s ease;
    &_current {
        color: $color-secondary;
    }
    &:hover {
        color: $color-secondary;
    }
}