.top-menu {
    margin-bottom: 12px;

background: rgba(80,83,87,1);
background: -moz-linear-gradient(-45deg, rgba(80,83,87,1) 0%, rgba(80,83,87,1) 84%, rgba(255,255,255,1) 84%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(80,83,87,1)), color-stop(84%, rgba(80,83,87,1)), color-stop(84%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(-45deg, rgba(80,83,87,1) 0%, rgba(80,83,87,1) 84%, rgba(255,255,255,1) 84%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(-45deg, rgba(80,83,87,1) 0%, rgba(80,83,87,1) 84%, rgba(255,255,255,1) 84%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(80,83,87,1) 0%, rgba(80,83,87,1) 84%, rgba(255,255,255,1) 84%, rgba(255,255,255,1) 100%);
background: linear-gradient(135deg, rgba(80,83,87,1) 0%, rgba(80,83,87,1) 84%, rgba(255,255,255,1) 84%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505357', endColorstr='#ffffff', GradientType=1 );
}

.glyphicon_custom {
    font-size: 20px;
    margin-right: 7px;
    top: 3px;
}

.email {
    font-size: em(11px);
    line-height: 30px;
}

.email__adress,
.email__adress:hover {
    color: #a8a8a9;
}

.social,
.lang-switcher {
    float: right;
}

.social__list {
    font-size: 0;
    padding: 0;
    @extend .ul_style
}

.social__item {
    display: inline-block;
    border-left: 1px solid #878889;
    &:hover {
        background-color: #36393c;
    }
    &:last-child {
        border-right: 1px solid #878889;
    }
}

.social__link {
    display: block;
    width: 40px;
    font-size: $base-font-size;
    line-height: 30px;
    text-align: center;
    color: #878889;
    &:hover {
        color: #878889;
    }
    &:focus {
        color: #878889;
    }
}

.lang-switcher__link {
    display: block;
    padding-left: 40px;
    padding-right: 70px;
    font-size: em(11px);
    line-height: 30px;
    text-transform: lowercase;
    color: #a8a8a9;
    &:hover {
        color: #a8a8a9;
    }
}

.logo {
    margin-bottom: 5px;
}

.advantages__position {
    font-family: $font-italic;
    font-size: $base-font-size;
    line-height: 14px;
    color: #264259;
    margin-right: 22px;
}

.advantages__years {
    font-family: $font-medium;
    font-size: em(12px);
    line-height: 28px;
    color: #fead2d;
}

.phones {
    float: right;
    font-family: $font-medium;
    vertical-align: middle;
}

.phones__list {
    // font-size: 0;
    padding: 0;
    @extend .ul_style
}

.phones__item {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #ddd;
    &:hover {
        // background-color: #36393c;
    }
    &:last-child {
        border-right: none;
    }
}

.phone__number {
    color: #45484a;
    font-size: $base-font-size;
    line-height: 26px;
    white-space: nowrap
    &:hover {
        color: #45484a;
    }
}

.phone__order {
    color: #45484a;
    font-size: em(11px);
    line-height: 12px;
    &:hover {
        color: #45484a;
    }
    &:focus {
        color: #45484a;
    }
}

.navigation {
    font-family: $font-medium;
    font-size: em(13px);
    background: rgba(255,255,255,1);
background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 29%, rgba(253,201,78,1) 29%, rgba(253,201,78,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(29%, rgba(255,255,255,1)), color-stop(29%, rgba(253,201,78,1)), color-stop(100%, rgba(253,201,78,1)));
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 29%, rgba(253,201,78,1) 29%, rgba(253,201,78,1) 100%);
background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 29%, rgba(253,201,78,1) 29%, rgba(253,201,78,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 29%, rgba(253,201,78,1) 29%, rgba(253,201,78,1) 100%);
background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 29%, rgba(253,201,78,1) 29%, rgba(253,201,78,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fdc94e', GradientType=1 );
}

.navigation__list {
    float: right;
    @extend .ul_style;
}

.navigation__item {
    display: inline-block;
    padding: 0 25px;
    line-height: 48px;
}

.navigation__link {
    // position: relative;
    text-transform: uppercase;
    color: #a95307;
    transition: all .5s ease;
    &_current {
        color: $color-secondary;
    }
    &:hover {
        color: $color-secondary;
    }
    &:focus {
        color: $color-secondary;
    }
}

.navigation__link_home {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        @extend .icon-home;
    }
}

.navigation__link_home {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: -25px;
        top: -2px;
        @extend .icon-home;
    }
}

.navigation__link_company {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: -22px;
        top: -2px;
        @extend .icon-company;
    }
}

.navigation__link_tour {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: -37px;
        top: -2px;
        @extend .icon-tour;
    }
}

.navigation__link_feedbacks {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: -25px;
        top: -2px;
        @extend .icon-feed;
    }
}

.navigation__link_contacts {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: -25px;
        top: -2px;
        @extend .icon-contacts;
    }
}

.toggle-navigation {
    display: block;
    float: right;
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    margin-top: 14px;
    text-align: center;
    line-height: 48px;
}

.toggle-navigation span:after,
.toggle-navigation span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
}

.toggle-navigation span:after {
    top: 18px;
}

.toggle-navigation span {
    position: relative;
    display: block;
}

.toggle-navigation span,
.toggle-navigation span:after,
.toggle-navigation span:before {
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease;
    backface-visibility: hidden;
    border-radius: 2px;
}

.toggle-navigation.on span {
    background-color: transparent;
}
.toggle-navigation.on span:before{
    transform: rotate(45deg) translate(-1px, 0px);
}
.toggle-navigation.on span:after{
    transform: rotate(-45deg) translate(6px, -7px);
}

.toggle-navigation.on + #menu {
    opacity: 1;
    visibility: visible;
}