.section {
    padding-top: 160px;
    padding-bottom: 95px;
    text-align: center;
    background: linear-gradient(to bottom, #f6f5f5, #fff);
}

.section__title {
    position: relative;
    color: $color-secondary;
    font-family: $font-medium;
    font-size: em(35px);
    line-height: 28px;
    text-transform: uppercase;
}

.section__title_info {
        &:before {
        content: '';
        position: absolute;
        margin: auto;
        top: -200px;
        left: 0;
        bottom: 0;
        right: 0;
        @extend .icon-info
    }
}

.section__text {
    font-family: $font-regular;
    font-size: em(19px);
    line-height: 22px;
    color: #6d6d6d;
    margin-bottom: 47px;
}

.section__text_orange {
    color: #ff862c;
}

.info__text_red{
    font-family: $font-bold;
    color: $color-secondary;
}

.info__item {
    min-height: 160px;
    border: 1px solid #fee6ce;
    margin-bottom: 60px;

    text-align: left;
    padding-left: 10px;
    padding-right: 5px;

    background: rgba(248,248,248,1);
    background: -moz-linear-gradient(-45deg, rgba(248,248,248,1) 0%, rgba(248,248,248,1) 50%, rgba(243,243,243,1) 51%, rgba(243,243,243,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(248,248,248,1)), color-stop(50%, rgba(248,248,248,1)), color-stop(51%, rgba(243,243,243,1)), color-stop(100%, rgba(243,243,243,1)));
    background: -webkit-linear-gradient(-45deg, rgba(248,248,248,1) 0%, rgba(248,248,248,1) 50%, rgba(243,243,243,1) 51%, rgba(243,243,243,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(248,248,248,1) 0%, rgba(248,248,248,1) 50%, rgba(243,243,243,1) 51%, rgba(243,243,243,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(248,248,248,1) 0%, rgba(248,248,248,1) 50%, rgba(243,243,243,1) 51%, rgba(243,243,243,1) 100%);
    background: linear-gradient(153deg, rgba(248,248,248,1) 0%, rgba(248,248,248,1) 50%, rgba(243,243,243,1) 51%, rgba(243,243,243,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f3f3f3', GradientType=1 );
}

.info__item-title {
    color: #3d3d3d;
    font-size: em(20px);
    line-height: 28px;
}

.info__item-text {
    color: #3d3d3d;
    font-size: $base-font-size;
    line-height: 20px;
}


