.btn {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: $font-regular;
    font-size: em(19px);
    color: white;
    padding: 13px 42px;
    border-radius: 5px;
    background-color: $color-main;
    border: 2px solid #ebecf3;
    position: relative;
    z-index: 1;
    transition: all .5s ease;
    &:hover {
        background-color: $color-secondary;
        color: #fff;
    }
    &:focus {
        color: #fff;
    }
}

.btn:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 3px;
    left: 4px;
    right: 4px;
    bottom: 3px;
    border: 0.5px solid #ebecf3;
}

.btn_download {
    background-color: #fff;
    color: #67615b;
    padding: 10px 15px;
    &:hover {
        background-color: #67615b;
        color: #fff;
        &:after {
            border-color:  #fff
        }
    }
}

.btn_form {
    margin-top: 20px;
    outline: 0;
}

.btn-footer {
    display: inline-block;
    margin-top: 12px;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: $font-medium;
    font-size: em(10px);
    color: #fff;
    padding: 3px 40px;
    outline: 0;
    background-color: #5a5653;
    border: 1px solid white;
    &:hover {
        background-color: #686461;
        color: #fff;
    }
}

