$color-main:        #3a3e64;
$color-secondary:   #313454;
$color-headlines:   #2d3033;
$color-text:        #6c7279;
$color-btn:         #e84545;
$color-btn--hover:  #d7493f;
$color-link:        #fff;
$color-link--hover: $color-text;
