@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular/Roboto-Regular.ttf") format("woff"),
         url("../fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto-Regular/Roboto-Regular.woff") format("woff"),
         url("../fonts/Roboto-Bold/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../fonts/Roboto-Regular/Roboto-Regular.woff") format("woff"),
         url("../fonts/Roboto-Medium/Roboto-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-Italic";
    src: url("../fonts/Roboto-Regular/Roboto-Regular.woff") format("woff"),
         url("../fonts/Roboto-Italic/Roboto-Italic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


// h1{

// }

// h2{

// }

// h3{

// }

// h4{

// }

// p,
// li,
// span{

// }

// strong,
// b{
//   font-weight: 600;
// }

// a{

//   &:hover{

//   }
// }

// ul{
//     li{

//     }
// }

// table{
//   td{

//   }
// }
